.button {
    font-size: 1.8rem;
    height: 40px;
    border-style: none;
    border-radius: 20px;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
    margin-left: 5px;
    margin-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:focus,
.button:hover {
    outline: none;
    background-color: #ffffff;
    border-style: solid;
    border-width: 2px;
}

.main__todo-creator-button {
    background-color: #8a77ff;
    width: 40px;
}

.main__todo-creator-button:focus {
    border-color: #8a77ff;
}

.main__todo-creator-button:hover {
    border-color: #8a77ff;
}

.main__todo-creator-button:focus .main__todo-creator-svg,
.main__todo-creator-button:hover .main__todo-creator-svg {
    fill: #8a77ff;
}

.main__todo-all-clear-button {
    background-color: #ea0001;
    color: #ffffff;
    width: 105px;
}

.main__todo-all-clear-button:hover,
.main__todo-all-clear-button:focus {
    border-color: #ea0001;
    color: #ea0001;
}

.main__edit-todo-button {
    background-color: #00d108;
    width: 40px;
}

.main__edit-todo-button--edit-mode,
.main__edit-todo-button:hover {
    background-color: #ffffff;
    transition: 200ms;
    border-color: #00d108;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
}

.main__edit-todo-button:focus {
    border-color: #00d108;
}

.main__edit-todo-button--edit-mode .main__edit-todo-svg path,
.main__edit-todo-button:hover .main__edit-todo-svg path,
.main__edit-todo-button:focus .main__edit-todo-svg path {
    fill: #00d108;
}

.main__edit-todo-button--edit-mode:hover {
    background-color: #00d108;
    border-style: none;
}

.main__edit-todo-button--edit-mode:hover .main__edit-todo-svg path {
    fill: #ffffff;
}

.main__remove-todo-button {
    background-color: #ea0001;
    width: 40px;
}

.main__remove-todo-button:hover,
.main__remove-todo-button:focus {
    border-color: #ea0001;
}

.main__remove-todo-button:focus .main__remove-todo-svg,
.main__remove-todo-button:hover .main__remove-todo-svg {
    fill: #ea0001;
}

.svg {
    pointer-events: none;
}
