.todo_button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8rem;
    height: 40px;
    border-style: none;
    border-radius: 20px;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
    margin-left: 5px;
    margin-right: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo_button:focus,
.todo_button:hover {
    outline: none;
    background-color: #ffffff;
    border-style: solid;
    border-width: 2px;
}

.todo_creator_button {
    background-color: #8a77ff;
    width: 40px;
}

.todo_creator_button:focus {
    border-color: #8a77ff;
}

.todo_creator_button:hover {
    border-color: #8a77ff;
}

.todo_creator_button:focus svg,
.todo_creator_button:hover svg {
    fill: #8a77ff;
}

.todo_fullclearer_button {
    background-color: #ea0001;
    color: #ffffff;
    width: 105px;
}

.todo_fullclearer_button:hover,
.todo_fullclearer_button:focus {
    border-color: #ea0001;
    color: #ea0001;
}

.edit_todo_button {
    background-color: #00d108;
    width: 40px;
}

.edit_mode,
.edit_todo_button:hover {
    background-color: #ffffff;
    transition: 200ms;
    border-color: #00d108;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
}

.edit_todo_button:focus {
    border-color: #00d108;
}

.edit_mode .edit_todo_button_svg path,
.edit_todo_button:hover .edit_todo_button_svg path,
.edit_todo_button:focus .edit_todo_button_svg path {
    fill: #00d108;
}

.edit_mode:hover {
    background-color: #00d108;
    border-style: none;
}

.edit_mode:hover .edit_todo_button_svg path {
    fill: #ffffff;
}

.remove_todo_button {
    background-color: #ea0001;
    width: 40px;
}

.remove_todo_button:hover,
.remove_todo_button:focus {
    border-color: #ea0001;
}

.remove_todo_button:focus .remove_todo_button_svg,
.remove_todo_button:hover .remove_todo_button_svg {
    fill: #ea0001;
}

.todo_fullclearer_button:hover {
    border-color: #ea0001;
}

.todo_button_svg,
.todo_searcher_input_svg,
.remove_todo_button_svg,
.edit_todo_button_svg {
    pointer-events: none;
}
