@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/ubuntu-regular-webfont.woff2') format('woff2'),
        url('../fonts/Ubuntu/ubuntu-regular-webfont.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/ubuntu-bold-webfont.woff2') format('woff2'),
        url('../fonts/Ubuntu/ubuntu-bold-webfont.woff') format('woff');
    font-weight: 700;
}
