.todo_searcher_input_svg {
    position: absolute;
    top: 12px;
    right: 131px;
}

.todo_input {
    background-color: #fff;
    font-family: 'Ubuntu', sans-serif;
    color: #313131;
    font-size: 18px;
    height: 40px;
    line-height: 20px;
    border-style: none;
    border-radius: 20px;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
    padding: 0 20px;
}

.todo_input::placeholder {
    font-family: 'Ubuntu', sans-serif;
    color: #c4c4c4;
    font-size: 1.8rem;
}

.todo_input:focus {
    outline: none;
    border-style: solid;
    border-width: 2px;
}

.todo_creator_input {
    width: 305px;
}

.todo_creator_input:focus {
    border-color: #8a77ff;
}

.todo_searcher_input {
    width: 240px;
    padding: 0 56px 0 20px;
}

.search_todo_input {
    width: 180px;
}

.todo_input.todo_item_input {
    width: 260px;
}

.todo_input.todo_item_input.input_edit_mode {
    border-style: solid;
    border-width: 2px;
    border-color: #00d108;
}
